@tailwind base;
@tailwind components;
@tailwind utilities;
 

/* styles/Dropdown.module.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  padding: 10px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Add this style to your CSS */
.no-hover-bg:hover {
  background-color: transparent !important; /* Use !important to ensure the style takes precedence */
}
 

